#include <iostream>
#include <ncurses.h>
#include <string.h>

using namespace std;

// mendefinisikan tombol ESC nilai 27
#define KEY_ESC 27

// definisi batas kanan kolom
#define batas_kanan_kolom 75

// kolom tengah layar
#define kolom_tengah 40

// posisi baris bawah
#define baris_bawah 20

// posisi baris dan kolom target
#define baris_target 2
#define kolom_target 37

int main(){

   // deklarasi variabel
   int tombol;
   short int baris, kolom;

   char karakter = 'o'; // Karakter game yang akan digunakan

   // menginisiasi layar untuk penggunaan ncurses
   initscr();
   clear();
   keypad(stdscr,TRUE);
   curs_set(0);
   nodelay(stdscr, TRUE);

   // Posisi awal karakter
   baris = baris_bawah;
   kolom = kolom_tengah;

   // Loop utama
   while (tombol != KEY_ESC) {
       mvprintw (baris_target,kolom_target,"*");
       if ((tombol = getch()) == ERR) {
          // user hasn't responded
       } else {
          if (tombol == KEY_ENTER) {
              // ...
          } else if(tombol == KEY_UP) {
              baris--;
              if (baris < 1) baris = 1; // Batas atas layar
          } else if(tombol == KEY_DOWN) {
              baris++;
              if (baris > baris_bawah) baris = baris_bawah; // Batas bawah layar
          }

          // Hapus karakter sebelumnya dan cetak di posisi baru
          mvprintw(baris-1, kolom, " ");
          mvprintw(baris, kolom, "%c", karakter);
       }
   }

   endwin();
   return 0;
}
